/* .homepage{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:80vw;
    height:90vh;
    border-radius:20px;
    box-shadow:0 0 15px 5px gray;
    background:white;
   
} */

.homepage{
    justify-content: center;
    display:flex;
    width:100%;
}

.EtableCellText{
    background-color:#94c0d5;
    color:white;
    font-size:16px;
}

.ETableCellVal{
text-align:right;
font-size:18px;
}

.CalApp{
    width:50%;
    border:2px #CCC solid;
    padding-left:20px;
    padding-right:20px;
    margin-top:10px;
    background-color:lemonchiffon;
}
.CalHeading{
    text-align: center;
    color:firebrick;
}

@media(prefers-reduced-motion:no-preference){
    .App-logo{
        animation:App-logo-spin infinite 20s linear;
    }
}



 .button{
    text-align: center;
    background:#1877f2;
    border:1px solid #1877f2;
    color:#fff;
    font-size:1.25rem;
    padding:0.5rem;
    border-radius:8px;
    outline:none;
    cursor:pointer;
}